.form-find-tkb{
    margin-top: 50px;
}
.form-control.tbk-form-tkb{
    font-size: 16px;
}
.col-sm-1.col-form-label.text-right.tbk-font-form{
    font-size: 20px;
}
.admin-dashboard{
    margin-top: 50px;
}
.tkb-title{
    margin-top: 50px;
    text-align: center;
}